<div id="Interactionview">
    <div class="card">
        <div class="card-header">
            <div style="float: left; margin-right:40px">
                <h6 style="display: inline; user-select: none">Interaction View</h6>
            </div>
            <div style="float: right;">
                <input type="button" value="Add Circle" v-on:click="addCircle"/>   <!--v-on:click 点击后执行addCircle函数-->
                <input type="button" value="Clear Circle" v-on:click="clearSvg"/>   <!--v-on:click 点击后执行clearSvg函数-->
            </div>
        </div>
        <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/4.2.7/css/bootstrap/tabulator_bootstrap.min.css" rel="stylesheet"> -->
        <div class="card-block" id="textContainer">
            <div id="divSvg"></div>
        </div>
    </div>
</div>
