<div id="videoview">
    <div class="card">
        <div class="card-header">
            <div style="float: left; margin-left:10px; margin-top:6px;">
                <h6 style="display: inline; user-select: none">Video View</h6>
            </div>
            <div style="float: right;">
                <input type="button" value="Remote Add Circle" v-on:click="remoteAdd"/>   <!--v-on:click 点击后执行remoteDrawTest函数-->
                <input type="button" value="Remote Clear Circle" v-on:click="remoteClear"/>   <!--v-on:click 点击后执行remoteclear函数-->
            </div>
        </div>
        <div class="card-block" id="videoPlayerContainer">
            <video id="my-player" ref="videoView" width="100%" height="100%" class="video-js vjs-big-play-centered">
                <!-- <source src="http://vjs.zencdn.net/v/oceans.mp4" type="video/mp4"> -->
                <!-- <source src="https://otr-playground.s3.amazonaws.com/video-cc.mp4" type="video/mp4"> -->
            </video>
            <div id="labelsContainer"></div>
        </div>
    </div>
</div>

