<div id="dataview">
    <div class="card">
        <div class="card-header">
            <div style="float: left; margin-right:40px">
                <h6 style="display: inline; user-select: none">Data View - {{station}}</h6>
            </div>
        </div>
        <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/4.2.7/css/bootstrap/tabulator_bootstrap.min.css" rel="stylesheet"> -->
        <div class="card-block">
            
            <div class="row">
                <div class="col-4 figure" id="pieChart"></div>
                <div class="col-4 figure" id="lineChart"></div>
                <div class="col-4 figure" id="stackBarChart"></div>
            </div>
        
        </div>
    </div>
</div>
